<div class="full-height center-vertical">
  <h1>Login</h1>

  <% form_tag '/login' do %>
    <div class="form-group col-sm-4 col-sm-offset-4">
      <%= label_tag 'email', for: :email %>
      <%= input_tag :text, name: :email, id: :email_input, class: 'form-control' %>
    </div>

    <div class="col-sm-2 col-sm-offset-5">
      <%= image_tag 'user.jpg', id: :image_display, class: 'img-thumbnail img-responsive' %>
    </div>

    <div class="form-group col-sm-4 col-sm-offset-4">
      <%= label_tag 'imagen', for: :image %>
      <%= input_tag :file, name: :image, id: :image_input, class: 'btn btn-sm btn-default' %>
    </div>

    <button type="submit" class="col-sm-4 col-sm-offset-4 ladda-button" disabled
            data-style="expand-right" data-color="blue" data-size="l">
      <span class="ladda-label">Iniciar Sesión</span>
    </button>
  <% end %>
</div>
